[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = https://github.com/MicroPhase/u-boot-xlnx
	branch =  antsdr
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:catkira/xbuildroot.git
	branch = antsdr
[submodule "linux"]
	path = linux
	url = https://github.com/catkira/linux
	branch = antsdr_new
[submodule "hdl"]
	path = hdl
	url = git@github.com:catkira/xhdl.git
	branch = antsdr_new
